# Dependencies
node_modules/

# Environment variables
.env

# OS files
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build folders
dist/
build/

# Vite / CRA cache
.vite/

# Editor folders
.vscode/
.idea/
